
/*Generic Body Padding
*/
body {
  padding-left: 16em;
  font-family: sans-serif;
}
@media screen and (max-width: 700px) {
  body {
    padding: 0.5em
  }
}

/* Top Nav which also contains the SDE4 logo*/

.topnav {
  width: 100%;
  padding: .5rem;
  background-color: #ffffff;
  overflow: hidden;
  position: fixed;
}


.sde50logo {
  display: inline-block;
  padding: 2px;
  float: right;
  width: 12%;

}

@media screen and (max-width: 576px) {
  .logo {width: 8%%;}
  .pageheading {font-size: 3em;}
  .sde50logo{ width: 20% }
}

@media screen and (max-width: 768px) {
   .logo {width: 8%;}
  .pageheading {font-size: 3em;}
}

/* Side Navigation which turns to full column width on monile */

.sidenav {
  height: 100%;
  width: 16em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 0.9em;
   -webkit-box-shadow: 0px 3px 10px -2px rgba(84,84,84,0.59);
  box-shadow: 0px 3px 10px -2px rgba(84,84,84,0.59);
}



.sidenav a {
  padding: .75rem .75rem .75rem 3rem;
  text-decoration: none;
  font-family: "Open Sans", Arial, Helvetica;
  font-size: 1.2em;
  color: #A9A9A9;
  display: block;
}

h2{
  padding: 0rem 0rem 0rem 3rem;
  font-family: "Open Sans", Arial, Helvetica;
  font-size: 1.5em;
  color: #808080;
  font-weight: lighter;
}

.sidenav a:hover {
  color: #484848;
  font-weight: bold;
}

.sidenav .current {
  color: #484848;
  font-weight: bolder;
}



.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
}



#graphic {
  padding-top: 150px;
  width: 100%;
  margin-left: 0em;
}

#sections {
  position: relative;
  display: inline-block;
  width: 50%;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;


}

@media screen and (max-width: 700px) {
  #graphic {
    margin-left: 1em;
  }
}


.step {
  margin-bottom: 200px;
  font-family: "Open Sans", "TiemposTextWeb-Regular","Georgia";
  font-size: 24px;
  line-height: 30px;
  color: #767678;
}


#sections .title {
  font-family: Open Sans,Arial,Helvetica,"san-serif";
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

@media screen and (max-width: 700px) {
  .step {
    font-size: 18px;
    line-height: 22px
  }
  #sections .title {
    font-size: 30px;
  }
}


#extra-space {
  height: 0px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 120px;
  z-index: 1;
  margin-left: 0;
  width: 40%;
  height: 400px;
  background-color: gray;

}

